package {{ java_package }}.dto;

import lombok.Getter;
import lombok.Setter;
import lombok.Builder;
{%- if has_list %}
import java.util.List;
{%- endif %}

@Getter
@Setter
@Builder
public class {{ class_name }} {
{%- for field in fields %}
    private {{ field.java_type }} {{ field.name }};
{%- endfor %}
}
